@charset "UTF-8";
/* CSS Document */ :root {
  --bg-color: #15161a;
  --accent-color: #73674C;
}
body {
  font-family: 'Playfair Display', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  font-weight: normal;
  background-color: #0b0c10;
  color: #ffffff;
}
a {
  color: #fff;
  text-decoration: none;
  display: block;
}
a:hover {
  color: #656565;
  display: block;
}
span {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}
.home .page {
  background-image: url("../images/main-image.jpg");
  background-repeat: no-repeat;
  height: 680px;
  margin: 0 auto;
  background-size: cover;
}
/*ーーーーーーーーーーーーーーーー
ヘッダー
ーーーーーーーーーーーーーーーーーーー*/
header {
  background-color: #0b0c10;
  height: 120px;
  overflow: hidden;
}
header h1 {
  float: left;
}
header p {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  margin-top: 15px;
  float: right;
  margin-right: 80px;
}
/*ーーーーーーーーーーーーーーーー
メイン
ーーーーーーーーーーーーーーーーーーー*/
main {}
.home main .catch {
  width: 350px;
  height: 400px;
  background-color: #15161a;
  margin-top: 300px;
  margin-bottom: 190px;
  padding-top: 20px;
  margin-left: 100px;
}
.home main h2 {
  font-size: 47px;
  text-align: center;
}
.home main p.phrase {
  margin-top: 40px;
  margin-bottom: 50px;
}
.home main p {
  font-size: 14px;
  line-height: 32.5px;
  text-align: center;
}
.inner {
  width: 1100px;
  margin: 0 auto;
}
.home main .about {
  overflow: hidden;
  margin-bottom: 200px;
  position: relative;
}
.home main .introduce {
  width: 270px;
  height: 460px;
  float: left;
  margin-top: 233px;
  margin-left: 30px;
}
.home main .introduce p.spa {
  margin-top: 67px;
  margin-bottom: 70px;
  font-size: 17px;
}
.home main .introduce h2 {
  text-align: left;
}
.home main .introduce p {
  text-align: justify;
}
.home main .hotel {
  float: right;
}
.home main .spa-entrance {
  position: absolute;
  top: 213px;
  right: 355px;
}
.home main .shisetu {
  overflow: hidden;
  margin-bottom: 300px;
}
.home main .shisetu h3 {
  clear: both;
  font-size: 87px;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 70px;
  position: relative;
}
.home main .shisetu a {
  color: #fff;
}
.home main .shisetu h3:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 125px; /*下線の上下位置調整*/
  display: inline-block;
  width: 215px; /*下線の幅*/
  height: 1px; /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%); /*位置調整*/
  background-color: #73674C; /*下線の色*/
}
.home main p.description {
  font-size: 17px;
}
.home main .shisetu p {
  width: 485px;
  margin: 0 auto 60px auto;
}
.home main section {
  width: 360px;
  height: 500px;
  margin-right: 10px;
  margin-bottom: 160px;
  float: left;
}
.home main section:last-of-type {
  margin-right: 0px;
}
.home main section img {
  margin-bottom: 55px;
}
.home main .shisetu section p {
  font-size: 15px;
  text-align: justify;
  width: 360px;
}
.home main .shisetu section h4 {
  font-size: 31px;
  margin-bottom: 25.5px;
}
.home main .shisetu .booking {
  clear: both;
  width: 265px;
  height: 65px;
  border: 1px solid #252525;
  line-height: 65px;
  text-align: center;
  margin: 0 auto;
}
.home main .shisetu .booking a {
  display: block;
}
.home main .keiken {}
.home main .keiken hr {
  width: 215px;
  margin-bottom: 60px;
}
.home main .keiken h3 {
  font-size: 87px;
  text-align: justify;
  margin-bottom: 50px;
  display: inline-block;
  position: relative;
}
.home main .keiken h3:before {
  content: '';
  position: absolute;
  left: 30%;
  top: -60px; /*下線の上下位置調整*/
  display: inline-block;
  width: 285px; /*下線の幅*/
  height: 1px; /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%); /*位置調整*/
  background-color: #73674C; /*下線の色*/
}
.home main .keiken p.description {
  font-size: 17px;
  text-align: justify;
  margin-bottom: 80px;
}
/* ------------------------------
   loopSlider
------------------------------ */
.loopSliderWrap {
  top: 0;
  left: 0;
  height: 300px;
  overflow: hidden;
  position: absolute;
}
.loopSliderWrap:after {
  content: "";
  display: block;
  clear: both;
}
.loopSlider {
  margin: 0 auto;
  width: 100%;
  height: 300px;
  text-align: left;
  position: relative;
  overflow: hidden;
  visibility: hidden;
  margin-bottom: 300px;
}
.loopSlider ul {
  height: 300px;
  float: left;
  overflow: hidden;
}
.loopSlider ul li {
  width: 300px;
  height: 300px;
  float: left;
  overflow: hidden;
}
.loopSlider ul li img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 768px) {
    .loopSliderWrap,
    .loopSlider,
    .loopSlider ul {
        height: 100px;
    }
 
    .loopSlider ul li {
        width: 100px;
        height: 100px;
    }
}
/*ーーーーーーーーーーーーーーーー
フッター
ーーーーーーーーーーーーーーーーーーー*/
footer {
  height: 260px;
  border-top: 1px solid #252525;
  overflow: hidden;
}
footer h1 {
  float: left;
  margin-right: 40px;
  margin-top: 50px;
  margin-left: 10px;
}
footer nav {
  float: left;
  margin-top: 80px;
  margin-right: 500px;
}
footer li {
  margin-bottom: 15px;
}
footer .tail {
  float: right;
  margin-right: 30px;
}
footer p {
  float: left;
  width: 130px;
  height: 65px;
  margin-top: 80px;
  line-height: 65px;
  margin-right: 20px;
}
footer .button {
  width: 105px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  border-radius: 1px;
  font-size: 14px;
  background-color: #73674c;
  float: left;
  margin-top: 80px;
}
footer .button a {
  display: block;
}
/*----------------
お問い合わせ
---------------------*/
.contact main {
  width: 1150px;
  margin: 0 auto;
}
.contact h2 {
  font-size: 87px;
  margin-bottom: 49.1px;
  margin-top: 120px;
  position: relative;
  text-align: center;
}
.contact h2:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 125px; /*下線の上下位置調整*/
  display: inline-block;
  width: 215px; /*下線の幅*/
  height: 1px; /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%); /*位置調整*/
  background-color: #73674C; /*下線の色*/
}
.contact p.description {
  font-size: 17px;
  margin-bottom: 60px;
  text-align: center;
}
.contact .container {
  width: 1290px;
  padding-left: 40px;
  margin: 0 auto 195px auto;
  position: relative;
}
.contact .contact-box {
  overflow: hidden;
  width: 1110px;
  padding-right: 70px;
  background-color: #15161a;
}
.contact h3 {
  margin-top: 100px;
  padding-top: 50px;
  border-top: 2px solid #73674C;
  width: 325px;
  font-size: 14px;
  line-height: 29.5px;
  float: left;
  position: absolute;
  left: 0px;
}
.contact .form {
  float: right;
  margin-top: 150px;
}
.contact .form p {
  text-align: justify;
}
.contact .form input {
  width: 590px;
  height: 70px;
  background-color: #1c1d21;
  border: 1px solid #252525;
  margin-bottom: 65px;
  margin-top: 10px;
}
.contact .form select {
  width: 590px;
  height: 70px;
  background-color: #1c1d21;
  border: 1px solid #252525;
  margin-bottom: 65px;
  margin-top: 10px;
  color: #fff;
}
.contact .form textarea {
  width: 590px;
  height: 240px;
  background-color: #1c1d21;
  border: 1px solid #252525;
  margin-top: 10px;
}
.contact .form input {
  color: #ffffff;
  font-size: 13px;
}
.contact .form input[type="submit"] {
  width: 215px;
  color: #ffffff;
  background-color: #1c1d21;
  margin-top: 65px;
  margin-bottom: 130px;
  clear: both;
}
/*------------------
メニュー
-------------------*/
.menu h2 {
  font-size: 87px;
  text-align: center;
  position: relative;
  padding-top: 190px;
  margin-bottom: 49.1px;
}
.menu h2:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 155px;
  display: inline-block;
  width: 215px;
  height: 1px;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
  background-color: #73674C;
}
.menu p.description {
  font-size: 17px;
  text-align: center;
  margin-bottom: 360px;
}
.menu .massage-wrap {
  margin-bottom: 365px;
  padding-top: 35px;
  background-color: var(--bg-color);
}
.menu .center {
  width: 1200px;
  margin: 0 auto;
}
.menu .massage-wrap h3 {
  font-size: 87px;
  margin-top: -90px;
  margin-bottom: 49.1px;
  margin-left: 100px;
  position: relative;
}
.menu .massage-wrap h3:before {
  content: '';
  position: absolute;
  left: 110px;
  top: -60px;
  display: inline-block;
  width: 215px;
  height: 1px;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
  background-color: #73674C;
}
.menu .massage-wrap .subtitle {
  font-size: 17px;
  margin-bottom: 75px;
  margin-left: 100px;
}
.menu .massage-middle-wrap img {
  float: left;
  margin-left: 50px;
  margin-right: 30px;
}
.menu .massage-middle-wrap .treatmentgroup {
  margin-top: 60px;
  font-size: 14px;
  line-height: 32.5px;
}
.menu .massage-middle-wrap .course {
  margin-bottom: 60px;
  width: 295px;
  margin-left: auto;
  margin-right: 40px;
}
.menu .massage-middle-wrap .detail {
  padding-bottom: 215px;
  width: 295px;
  margin-left: auto;
  margin-right: 40px;
}
.menu .facial-wrap {
  background-color: var(--bg-color);
  padding-top: 35px;
  margin-bottom: 365px;
}
.menu .facial-wrap h3 {
  font-size: 87px;
  text-align: right;
  margin-right: 100px;
  position: relative;
  margin-bottom: -40px;
  margin-top: -90px;
}
.menu .facial-wrap h3:before {
  content: '';
  position: absolute;
  right: -90px;
  top: -60px;
  display: inline-block;
  width: 215px;
  height: 1px;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
  background-color: #73674C;
}
.menu .facial-wrap .subtitle {
  font-size: 17px;
  text-align: right;
  margin-right: 225px;
  padding-top: 90px;
}
.menu .facial-wrap .treatmentgroup {
  font-size: 14px;
  line-height: 32.5px;
  padding-bottom: 300px;
  margin-bottom: 60px;
  margin-top: 70px;
  margin-left: 50px;
}
.menu .facial-wrap .course {
  margin-bottom: 60px;
  padding-top: 20px;
}
.menu .facial-wrap img {
  float: right;
  margin-top: -630px;
  margin-right: 50px;
}
.menu .treatment-wrap {
  margin-bottom: 250px;
  background-color: var(--bg-color);
  padding-top: 35px;
}
.menu .treatment-wrap h3 {
  position: relative;
  padding-top: -40px;
  margin-left: 100px;
  font-size: 87px;
  margin-top: -90px;
}
.menu .treatment-wrap h3:before {
  content: '';
  position: absolute;
  left: 110px;
  top: -60px;
  display: inline-block;
  width: 215px;
  height: 1px;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
  background-color: #73674C;
}
.menu .treatment-wrap .subtitle {
  font-size: 17px;
  padding-top: 60px;
  margin-left: 100px;
  margin-bottom: 80px;
}
.menu .treatment-wrap img {
  float: left;
  margin-left: 50px;
  margin-bottom: -40px;
}
.menu .treatment-wrap .treatmentgroup {
  font-size: 14px;
  line-height: 32.5px;
  padding-bottom: 320px;
}
.menu .treatment-wrap .detail {
  width: 295px;
  margin-right: 40px;
  margin-left: auto;
}
.menu .treatment-wrap .course {
  margin-bottom: 60px;
  width: 295px;
  /*float: right;*/
  margin-left: auto;
  margin-right: 40px;
}
/*-------------------
アクセス
-------------------*/
.accesee .line {
  border-top: 1px solid var(--accent-color);
  width: 285px;
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 120px;
}
.accesee h2 {
  font-size: 87px;
  text-align: center;
  margin-bottom: 49.1px;
}
.accesee .description {
  text-align: center;
  font-size: 17px;
  margin-bottom: 250px;
}
.accesee .freeshuttle {
  position: relative;
}
.accesee .freeshuttle .busphoto img {
  width: 100%;
  height: 670px;
}
.accesee .freeshuttle h3 {
  font-size: 87px;
  text-align: right;
  margin-top: -720px;
  margin-right: 100px;
}
.accesee .freeshuttle h3:before {
  content: '';
  position: absolute;
  right: 215px;
  bottom: 155px; /*下線の上下位置調整*/
  display: inline-block;
  width: 215px; /*下線の幅*/
  height: 1px; /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%); /*位置調整*/
  background-color: #73674C; /*下線の色*/
}
.accesee .subtitle {
  font-size: 17px;
  text-align: right;
  margin-right: 400px;
  margin-top: 20px;
}
.accesee .wrap {
  width: 1100px;
  margin: 0 auto;
}
.accesee section {
  position: relative;
  margin-left: 100px;
  margin-top: 445px;
  margin-bottom: 230px;
  width: 440px;
  height: 535px;
  background-color: var(--bg-color);
  float: left;
}
.accesee section img {
  margin-left: 80px;
}
.accesee section h4 {
  margin-top: -140px;
  font-size: 28px;
  margin-left: -45px;
  text-shadow: 0.5px 1px 0 #000;
  position: relative;
}
.accesee .freeshuttle h4:before {
  content: '';
  position: absolute;
  top: -50px;
  left: 90px; /*下線の上下位置調整*/
  display: inline-block;
  width: 180px; /*下線の幅*/
  height: 1px; /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%); /*位置調整*/
  background-color: #73674C; /*下線の色*/
}
.accesee section .place {
  font-size: 14px;
  margin-bottom: 50px;
}
.accesee section p {
  font-size: 14px;
  line-height: 32.5px;
  margin-left: -45px;
}
.accesee .cover {
  text-align: center;
  clear: both;
}
.accesee .cover .description {
  margin-bottom: 70px;
}
.accesee .cover address {
  margin-bottom: 40px;
}
.accesee .cover p {
  margin-bottom: 100px;
}
.accesee iframe {
  margin-bottom: 160px;
}